body {
    color: whitesmoke;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: repeat(4, 100px);
    gap: 5px;
    justify-content: center;
   
}

.door {
    display: flex;
    

}