body {
    color: whitesmoke;
    background-color: black;
    
    text-align: center;
    margin: 0;
}
h1 {
    font-size: 40px;
    margin: 10px auto;
}
p {
    font-size: 20px;
    margin: 0 auto;
}
* {
    user-select: none;
    font-family: "Great Vibes", cursive;
}
.calendarContainer {
    position: relative;
    width: 1400px;
    height: 600px;
    margin: 20px auto;
    background-image: url("photos/taustakuva.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
}
/* Kalenterin luukkujen koko ja paikka */
.calendar {
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: repeat(4, 100px);
    gap: 30px;
    justify-content: center;
    padding-top: 50px;
}
.gingerbread {
    position: relative;
    width: 1100px;
    height: 800px;
    margin: 40px auto;
    background-image: url("gifts/piparkakkutalo.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/* Solut luukuille ja lahjoille */
.cell {
    position: relative;
    width: 200px;
    height: 100px;
}
/* Luukkujen tyylit */
.door {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    
    background-color: red;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    font-size: 50px;

    cursor: pointer;
}
/* Luukun sisältö */
.gift {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: aqua;
    background-size: cover;
    border-radius: 10px;
}
/* Avoimen oven tyyli */
.door.open {
    opacity: 0;
}