body {
    color: whitesmoke;
    background-color: black;
    
    text-align: center;
}
h1 {
    font-size: 40px;
    
}
p {
    font-size: 20px;
}

* {
    user-select: none;
    font-family: "Great Vibes", cursive;
}

/* Kalenterin luukkujen koko ja paikka */
.calendar {
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: repeat(4, 100px);
    gap: 30px;
    justify-content: center;
    
}

/* Solut luukuille ja lahjoille */
.cell {
    position: relative;
    width: 200px;
    height: 100px;
}

/* Luukkujen tyylit */
.door {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    
    background-color: red;
    border-radius: 10px;
    font-size: 50px;
    

    cursor: pointer;
}

/* Luukun sisältö */
.gift {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    
    background-size: cover;
    border-radius: 10px;
}

/* Avoimen oven tyyli */
.door.open {
    opacity: 0;
}