body {
    color: antiquewhite;
    background-color:  rgb(3, 23, 22);
    text-align: center;
    margin: 0px;
    margin-top: 50px;
    user-select: none;
}

h1 {
    font-size: 80px;
    margin: 5px auto;
    color: antiquewhite;
    text-shadow: #ffcc00 1px 0 8px;
}
p {
    font-size: 50px;
    margin: 0px auto;
    margin-bottom: 50px;
    color: antiquewhite;
}
* {
    user-select: none;
    font-family: "Great Vibes", cursive;

}
.calendarContainer {
    position: relative;
    padding: 5%;
    background-color: rgb(3, 23, 22);
    background-image: url("photos/taustakuva.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 16 / 9; 
}
/* Kalenterin luukkujen koko ja paikka */
.calendar {
    position: absolute;
    padding: 10%;
    top: 0; left: 0; right: 0; bottom: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 3%;
}
/* Solut luukuille ja lahjoille*/
.cell {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Luukkujen tyylit */
.door {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: var(--bg);
    border-style: dashed;
    border-color:  antiquewhite;
    border-width: 1px;
    border-radius: 10px;
    font-size: 50px;
    color: antiquewhite;
    text-shadow: #010311 3px 2px 10px;
    cursor: pointer;
}

/* Avoimen oven tyyli */
.door.open {
    opacity: 1;
    pointer-events: auto;
}

/* Luukun sisältö*/
.gift {
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 20px;
}