body {
    color: whitesmoke;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
/* Kalenterin luukkujen koko ja paikka */
.calendar {
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: repeat(4, 100px);
    gap: 50px;
    justify-content: center;
    
    
   
}

.cell {
    position: relative;
    width: 200px;
    height: 100px;
}
/* Luukkujen tyylit */
.door {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: red;
    border-radius: 10px;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;

  
    
}

/* Luukun sisältö */
.gift {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: aqua;
    border-radius: 10px;
}


.door.open {
    background-color: rgba(39, 27, 210, 0);
}