* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(65, 90, 103);
    font-family: "Great Vibes", cursive;
    text-align: center;
}
h1 {
    font-family: "Great Vibes", cursive;
    font-size: 100px;  
    color: antiquewhite;
}

p {
    font-family: "Great Vibes", cursive;
    font-size: 80px;
    color: rgb(30, 47, 68);
}

/* Kalenterin luukkujen koko ja paikka
.calendar {
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: repeat(4, 100px);
    gap: 30px;
    max-width: 800px;
    justify-content: center;
    user-select: none;
}
*/
.gingerbread {
    position: relative;
    width: 1100px;
    height: 800px;
    margin: 40px auto;
    background-image: url("piparkakkutalo.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Solut luukuille ja lahjoille */
.cell {
    position: absolute;
    width: 80px;
    height: 80px;
   /* background: red;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    color: rgb(52, 23, 23);*/
}

/* Luukkujen tyylit */
.door {
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
<<<<<<< Updated upstream
    width: 100%;
    height: 100%;
    
    background-color: red;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    font-size: 50px;

=======
    width: 80px;
    height: 80px%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    color: rgb(52, 23, 23);
    border-radius: 10px;
>>>>>>> Stashed changes
    cursor: pointer;
} 
*/
/* Luukun sisältö */
.gift {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: aqua;
    background-size: cover;
    border-radius: 10px;
}

/* Avoimen oven tyyli */
.door.open {
    opacity: 0;
}
